.address {
	display: flex;
	justify-content: space-between;
	background: #ffffff;
	border: 1px solid #f0f0f0;
	box-sizing: border-box;
	border-radius: 8px;
	margin-top: 30px;
	margin-bottom: 30px;
	align-items: center;
	padding-top: 14px;
	padding-bottom: 14px;

	p {
		font-size: 18px;
		line-height: 24px;
		margin-left: 32px;
		margin-right: 32px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.addresInput {
		position: relative;
		flex: 1;
		display: flex;
		margin-right: 32px;

		img {
			position: absolute;
			top: 13px;
			left: 13px;
			z-index: 2;
		}

		input {
			width: 100%;
			margin-right: 20px;
			padding-left: 40px;
			padding-right: 20px;
			border: 1px solid #f0f0f0;
			box-sizing: border-box;
			border-radius: 6px;
			// background-image: url('../../assets/images/location.svg');
			// background-repeat: no-repeat;
			// background-position: left 12px;
		}

		.button {
			padding: 13px 32px;
			background-color: #ff7010;
			border-radius: 4px;
			border: none;
			font-size: 16px;
			line-height: 22px;
			color: #fff;
			cursor: pointer;
			transition: background-color 0.1s linear;

			&:hover {
				background-color: darken(#ff7010, 10%);
			}
		}
	}
}
