.buttonCart {
	display: flex;
	align-items: center;
	padding: 10px 16px;
	background-color: #ff7010;
	border-radius: 4px;
	border: none;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.1s linear;

	img {
		margin-right: 8px;
	}

	&:hover {
		background-color: darken(#ff7010, 10%);
	}
}
