.cartOrder {
	width: 100%;
	max-width: 380px;
	margin: 200px auto;
	text-align: center;

	img {
		width: 220px;
		height: 135px;
		margin-bottom: 48px;
	}

	.cartOrderNumber {
		font-family: Inter;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		margin: 0 0 16px;
	}

	.cartOrderInfo {
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 24px;
	}
}
