.footerInfo {
	width: 100%;
	max-width: 850px;
	margin: 40px auto 60px;

	.footerInfoTitle {
		font-family: Inter;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 40px;
		margin: 0 0 16px;
	}

	.footerInfoText {
		font-family: Inter;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
	}
}
